.container {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.heading {
  color: var(--yapink500);
  font-size: 8.4rem;
  font-family: 'YanoljaSans', sans-serif;
  font-weight: 900; /* fallback */
  margin-bottom: 0;
}

.caption {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 900;
}

.highlight {
  background: var(--yapink500);
}
