.quizImage {
  max-width: 100%;
  max-height: 32rem;
  display: block;
  margin: 0 auto;
}

.quizText {
  color: var(--opacity800);
  font-size: 3.3rem;
  margin-top: 0;
  text-align: center;
  word-break: keep-all;
}
