.option {
  width: 100%;
  background: var(--gray100);
  border-radius: 6.3rem;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  line-height: 4.5rem;
  overflow: hidden;
  padding: 0.7rem 4rem 0.9rem;
  position: relative;
}
.option + .option {
  margin-top: 2.4rem;
}

.gauge {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--yapink300) 33%, var(--yayellow100));
  clip-path: inset(0 100% 0 0);
  position: absolute;
  top: 0;
  left: 0;
}
.correctGauge {
  composes: gauge;
  background: var(--yayellow500);
}
.incorrectGauge {
  composes: gauge;
  background: var(--gray300);
}

.label,
.percentage {
  position: relative;
  z-index: 1;
}
