.container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loginButton {
  font-size: 3rem;
  font-weight: 700;
  font-family: 나눔스퀘어;
  text-align: center;
  display: block;
  margin: 0 auto;
  background: transparent;
  cursor: pointer;
  border: none;
}

.emphasis {
  font-weight: normal;
  font-family: YanoljaSans;
}

.caption {
  font-size: 1.5rem;
  text-align: center;
}
