@media screen and (max-width: 450px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 5px;
  }
}

.container {
  font-size: 3rem;
  height: 100%;
}

.heading {
  font-family: YanoljaSans, sans-serif;
}

.logo {
  padding: 1rem 2rem;
  margin: 0 auto;
}

.content {
  padding: 2rem;
  margin: 0 auto;
  height: calc(100% - 6.5rem);
}
