.heading {
  color: var(--yapink500);
  font-size: 4.2rem;
  font-family: 'YanoljaSans', sans-serif;
  font-weight: 900; /* fallback */
  padding-top: 3.6rem;
  text-align: center;
}

.theQuiz {
  color: var(--opacity800);
  font-size: 4.2rem;
  margin-top: 2.4rem;
  text-align: center;
  word-break: keep-all;
}

.quizImage {
  height: 36rem;
  display: block;
  margin: 0 auto;
}
