.container {
  height: 100%;
}

.hidden {
  overflow: hidden;
}

.quizWrap {
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 90rem;
  margin: 0 auto;
}

.question {
  font-size: 3rem;
  font-weight: 700;
}

.selectorBox {
  padding: 3rem 0;
}

.img {
  width: 100%;
}

.countdown {
  font-size: 3rem !important;
}
